@use "@/styles/tools.scss";

.StickyFooter {
  position: sticky;
  bottom: 0;
  margin-left: calc(-1 * var(--site-padding));
  margin-right: calc(-1 * var(--site-padding));
  padding: 0.75rem var(--site-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 75vh;
  overflow: hidden;

  background-color: var(--color-black);
  border-top: 1px solid rgba(255, 255, 255, 0.5);

  border-image: url("/footer-border.svg");
  border-image-slice: 50 50 0;
  border-image-repeat: stretch;
  border-image-width: 30px;

  @media screen and (min-width: 36rem) {
    border-image-width: 50px;
    border-image-slice: 56 56 0;
  }
}

.Container {
  @include tools.resetButton;

  width: var(--table-width);
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.Section {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.Values {
  border-spacing: 0;
  text-align: left;
  min-width: 8rem;

  th,
  td {
    padding: 0;
  }

  th {
    padding-right: 0.5rem;
  }
}

.ValueLabel {
  font-weight: 400;
}

.ValueValue {
  text-align: right;
}

.Icon {
  width: 3rem;
  text-align: center;
  position: relative;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
