@mixin gradient {
  &:after {
    --gradient-offset: calc(var(--site-padding) * 1);

    content: "";
    position: absolute;
    left: calc(-1 * var(--gradient-offset));
    right: calc(-1 * var(--gradient-offset));
    top: 0;
    height: 100%;
    background: linear-gradient(
      90deg,
      #55523f00 0%,
      #55523f80 var(--gradient-offset),
      #55523f80 calc(100% - var(--gradient-offset)),
      #55523f00 100%
    );
    z-index: -1;

    @media screen and (min-width: 48rem) {
      --gradient-offset: calc(var(--site-padding) * 2);
    }
  }
}
