.Row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0.5rem;

  &:after {
    --gradient-offset: var(--site-padding);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: calc(-1 * var(--gradient-offset));
    right: calc(-1 * var(--gradient-offset));
    height: 100%;
    z-index: -1;
    background: linear-gradient(
      90deg,
      rgb(85, 82, 63, 0) 0%,
      rgb(85, 82, 63, 0.5) var(--gradient-offset),
      rgb(85, 82, 63, 0.5) calc(100% - var(--gradient-offset)),
      rgb(85, 82, 63, 0) 100%
    );

    @media screen and (min-width: 64rem) {
      --gradient-offset: 2rem;
    }
  }
}

.SubLabel {
  font-size: 1rem;
  letter-spacing: 0.05em;
  margin-left: 1rem;
  margin-top: 0.1rem;
  color: var(--color-orange-light);
  opacity: 0.8;
}

.Controls {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.Button {
  width: 3rem;
  height: 3rem;
}

.Input {
  width: 4rem;
  height: 2.8rem;
}
