@import "styles/tools.scss";

.Button {
  --inset: 0.25rem;
  @include resetButton;
  text-align: center;
  position: relative;
  padding: 0.6rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before,
  &:after {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    inset: 0;
  }

  &:before {
    left: var(--inset);
    right: var(--inset);
  }

  &:after {
    top: var(--inset);
    bottom: var(--inset);
  }

  &[data-size="small"] {
    font-size: 0.9rem;
  }

  &[data-button="reset"] {
    svg {
      path {
        stroke: currentColor;
      }
    }
  }

  svg {
    display: block;
  }
}
