@import "styles/tools.scss";

.Form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.Fieldset {
  @include resetFieldset;
  display: grid;
  grid-template-columns: 10rem 1fr;
  align-items: center;
  min-width: 0;
}

.Label {
  // font-size: 1em;
}

.Input {
  min-width: 0; /* Allows the input to shrink width on mobile */
}

.Message {
  &[data-visible="false"] {
    opacity: 0;
    pointer-events: none;
  }
}
