.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  position: relative;
}

.header:after {
  --gradient-offset: 2rem;
  content: "";
  position: absolute;
  left: calc(-1 * var(--gradient-offset));
  top: 0;
  height: 100%;
  width: 50%;
  background: linear-gradient(
    90deg,
    rgb(85, 82, 63, 0) 0%,
    rgb(85, 82, 63, 1) var(--gradient-offset),
    rgb(85, 82, 63, 0) 100%
  );
  z-index: -1;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav a {
  color: inherit;
}

.experimental {
  color: red;
}

.runeimage {
  height: 4rem;
}
