@import "styles/tools.scss";

.Nav {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.5rem var(--site-padding);

  &:after {
    --gradient-offset: 2rem;
    content: "";
    position: absolute;
    left: calc(-1 * var(--gradient-offset));
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgb(85, 82, 63, 0) 0%,
      rgb(85, 82, 63, 1) var(--gradient-offset),
      rgb(85, 82, 63, 0) 100%
    );
    z-index: -1;
  }
}

.Links {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

.Logo {
  width: 2rem;
  flex-shrink: 0;

  & > * {
    vertical-align: top;
  }

  @media screen and (min-width: 64rem) {
    width: 3rem;
  }
}

.Info {
  @include resetButton;
  padding: 0.6rem 1rem;
  font-size: 1.5rem;
  color: var(--color-orange-light);

  svg {
    display: block;
    filter: drop-shadow(0px 0px 3.5px rgba(0, 0, 0, 0.4))
      drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.4))
      drop-shadow(0px 0px 9px rgba(255, 255, 255, 1))
      drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.5))
      drop-shadow(0px 0px 21px rgba(255, 255, 255, 1));
  }
}

.Contribute {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  margin-left: auto;
}
