@import "@/styles/tools.scss";
@import "@/styles/extends.scss";

.P {
  margin: 0;
  font-size: 1.2rem;

  &[data-over-under="Over"] span {
    color: green;
  }

  &[data-over-under="Under"] span {
    color: red;
  }
}

.CountSection {
  margin-top: 1rem;
}

.Counts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.Count {
  font-size: 1.2rem;
}
