@import "@/styles/tools.scss";
@import "@/styles/extends.scss";

.Overlay {
  position: fixed;
  inset: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--site-padding);

  &[data-open="false"] {
    display: none;
  }

  &:after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-black);
    z-index: -1;
    opacity: 0.5;
  }
}

.Content {
  --inset: 0.25rem;
  padding: 2rem;
  background-color: var(--color-black);
  min-width: var(--table-min-width);
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;

  &:before,
  &:after {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.5);
    position: absolute;
    inset: 0;
    pointer-events: none;
  }

  &:before {
    left: var(--inset);
    right: var(--inset);
  }

  &:after {
    top: var(--inset);
    bottom: var(--inset);
  }
}

.Header {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.CloseButton {
  @extend %Button;
  font-size: 0.9rem;
  align-self: flex-end;
}

.H1 {
  margin: 0;
  font-weight: 400;
}

.P {
  margin: 0;
  font-size: 1.2rem;

  &[data-over-under="Over"] span {
    color: green;
  }

  &[data-over-under="Under"] span {
    color: red;
  }
}

.CountSection {
  margin-top: 1rem;
}

.Counts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

.Count {
  font-size: 1.2rem;
}
