html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: #342550;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.5em;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.flex {
}

.heldRunes {
  width: 5em;
}

.small-text {
  font-size: 1rem;
}

.nomargin {
  margin: 0 !important;
}

.runeimage {
  height: 4em;
}

.fixed {
  position: absolute;
}

.spaced > * {
  margin: 0.5em;
}

.bottom {
  left: 1em;
  bottom: 1em;
  position: fixed;
}

a {
  text-decoration: none;
  color: #f1a656;
}

a:visited {
  color: #b96710;
}

header {
  margin-top: 1em;
}

ul {
  font-size: 1rem;
}

ul > * {
  margin-right: 1em;
}

ul > *:last-child {
  margin-right: 0;
}
