*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --background-clr: #10130f;
  --site-padding: 1rem;
  --table-min-width: 28rem;
}

html,
body {
  font-size: 1.25rem;
  margin: 0;
  min-height: 100%;
}

body {
  background-color: var(--background-clr);
  color: #d7d5c5;
  font-family: Garamond, serif;
  font-weight: 400;
  text-align: center;
  text-shadow: 1px 1px 1px black, 3px 3px 3px black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-left: var(--site-padding);
  padding-right: var(--site-padding);
  padding-top: var(--site-padding);
  position: relative;
}

body:before {
  content: "RUNE CALCULATOR";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d7d5c5;
  z-index: -1;
  font-size: 9vw;
  padding-bottom: 20rem;
  opacity: 0.04;
  pointer-events: none;
}

.heldRunes {
  width: 5em;
}

.small-text {
  font-size: 1rem;
}

.nomargin {
  margin: 0 !important;
}

.runeimage {
  height: 4em;
}

.spaced > * {
  margin: 0.5em;
}

.bottom {
  left: 1em;
  bottom: 1em;
  position: fixed;
}

a {
  text-decoration: none;
  color: #f1a656;
}

a:visited {
  color: #b96710;
}

button {
  cursor: pointer;
}
