*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --color-black: #10130f;
  --color-orange-light: #f1a656;
  --color-orange-dark: #b96710;
  --site-padding: 0.5rem;
  --table-min-width: 100%;

  @media screen and (min-width: 48rem) {
    --site-padding: 1rem;
    --table-min-width: 28rem;
  }
}

html,
body {
  font-size: 1.1rem;
  margin: 0;
  min-height: 100%;

  @media screen and (min-width: 64rem) {
    font-size: 1.25rem;
  }
}

body {
  background-color: var(--color-black);
  color: #d7d5c5;
  font-family: Garamond, serif;
  font-weight: 400;
  text-align: center;
  text-shadow: 1px 1px 1px black, 3px 3px 3px black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: var(--site-padding);
  position: relative;
  
  &:before {
    content: "RUNE CALCULATOR";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 10%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d7d5c5;
    z-index: -1;
    font-size: 9vw;
    opacity: 0.04;
    pointer-events: none;
  }
}

.heldRunes {
  width: 5em;
}

a {
  text-decoration: none;
  color: var(--color-orange-light);
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

svg {
  fill: currentColor;
}