@use "@/styles/tools.scss";

.Nav {
  margin: 0;
  margin-bottom: 1rem;
}

.Inner {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  max-width: var(--table-width);
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &:after {
    --gradient-offset: 2rem;
    content: "";
    position: absolute;
    left: calc(-1 * var(--gradient-offset));
    right: calc(-1 * var(--gradient-offset));
    top: 0;
    height: 100%;
    background: linear-gradient(
      90deg,
      #55523f00 0%,
      #55523f80 var(--gradient-offset),
      #55523f80 calc(100% - var(--gradient-offset)),
      #55523f00 100%
    );
    z-index: -1;
  }
}

.Links {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

.Logo {
  width: 2rem;
  flex-shrink: 0;

  & > * {
    vertical-align: top;
  }

  @media screen and (min-width: 64rem) {
    width: 3rem;
  }
}

.Contribute {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  margin-left: auto;
}
