@use "@/styles/tools.scss";
@use "@/styles/gradient.scss";

.Nav {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  width: var(--table-width);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.Links {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
  opacity: 0.75;
}

.Contribute {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  margin-left: auto;
}
